* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: #DCC7AA;
    padding: 20px;
}
.pagenav
{
	height: 60px;
	background-color:#132758;
	display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
	width:95%;
	margin-top: 30px;
	margin-left: 30px;
  	border-right:10px solid #f8f7f7;
  	border-bottom:10px solid #f8f7f7;
}
.nav-links	{
	color: white;
	display: flex;
	align-items: center;
	text-align: right;
}

.nav-links a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin: 0 12px 0 12px;
} 

  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
h1{
    color: #132758;
}
.row{
    padding: 10px;
}
input[type=text],[type=password],[type=number],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:whitesmoke;
     /* #F7882F; */
    color:black;
    resize: vertical;
    font-size: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
    color:#132758;
    font-size: 20px;

}

input::placeholder{
    color:black;
}

select,textarea::placeholder{
    color:black;
}

input[type=submit] {
    background-color: #132758;  
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 20px;
}
input:hover{
    border: 1px solid #0f131d;
}
input[type=submit]:hover {
    background-color: #0f131d;
}

.msg{
    text-align: center;
    color:#3c763d;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  

@media screen and (max-width: 768px) {
   .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

